.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: Arial, sans-serif;
}

.tab button:hover {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.tab button.active {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  /*background: linear-gradient(to bottom right, #00b09b, #96c93d);*/
}

.background2{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

th, td{
  text-align:center;
  padding: 8px;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto';
  font-weight: bolder;
}

p, ul, li{
  font-family: Arial, sans-serif;
}

.mavi{
  background-color: rgba(100, 251, 251, 0.825)
}

.beyaz{
  background-color: rgb(221, 218, 218);
}

form {
      margin: 20px auto;
      width: 500px;
      border: 2px solid #ccc;
      padding: 20px;
      border-radius: 10px;
  }
  
  label,
  input {
      display: block;
      margin-bottom: 10px;
  }
  
  .btn {
      margin-top: 20px;
      background-color: #fafbfa;
      color: rgb(0, 0, 0);
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
  }

.btn:hover {
      background-color: #000000;
      color: #ffffff;
}

  .result {
      margin-top: 20px;
      font-weight: bold;
  }



#div2, #div3, #div4, #div5, #div6, #div7, #div8, #div11, #div12, #div13, #div14, #div15, #div16, #div17, #div21, #div22, #div23, #div24,#div25, 
#div26, #div27, #div31, #div32, #div33, #div34, #div35, #div36, #div37, #div51, #div52, #div53, #div54, #div55, #div56, #div57, #div58, #div59, #div60 {
 display: none;
}

.btn1, .btn2, .btn3, .btn4, .btn5{
padding: 10px;
background-color: #f7f6f6;
border-radius: 5px;
box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
cursor: pointer;
display: block;
margin-bottom: 5px;
}
  
.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover{
background-color: #aaa;
color: #010000;
}

.btn1.selected, .btn2.selected, .btn3.selected, .btn4.selected, .btn5.selected{
background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}

.resim-alani {
width: auto;
height: auto;
text-align: center;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
padding: 10px;
}

.resim-alani img {
border-radius: 15px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.resim-container {
display: flex;
justify-content: center;
align-items: center;
}

form {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.iller {
display: inline-block;
border-radius: 4px;
background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
border: none;
color: #FFFFFF;
text-align: center;
font-size: 20px;
font-weight: 500;
font-family: Arial, sans-serif;
padding: 10px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.2);
}

.iller span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.iller span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.iller:hover{
border-radius: 15px;
transform: scale(1.2);
color: black;
}

.iller:hover span {
 padding-right: 25px;
}

.iller:hover span:after {
opacity: 1;
right: 0;
}

.info-container {
display: none;
}

.info-container.active {
display: block;
}

.back-button {
text-align: center;
margin-top: 10px;
}
.button-container{
text-align: center;
}
.chart-container {
width: 600px;
height: 300px;
margin: 0 auto;
}
#yukarıgit {
background: url(../i/backtotop.png) no-repeat center center;
border: 0;
bottom: 20px;
cursor: pointer;
display: block;
opacity: 1;
height: 70px;
position: fixed;
right: 20px;
text-indent: -9999px;
width: 70px;
z-index: 1;
}
.navbar-brand {
  font-weight: bold;
}